@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-rojo: rgb(177, 30, 33);
}

html {
    /* desliza cuando hago click en los links del menu */
    scroll-behavior: smooth;
}

.font-righteous {
    font-family: 'Righteous';
}

.font-work-sans {
    font-family: 'Work Sans', sans-serif;
}

.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 20%;
    }
}

.skills .skill .htmll {
    width: 0%;
    animation: 2s htmll forwards;
}

@keyframes htmll {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skills .skill .csss {
    width: 0%;
    animation: 2s csss forwards;
}

@keyframes csss {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skills .skill .photoshop {
    width: 0%;
    animation: 2s photoshop forwards;
}

@keyframes photoshop {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

.skills .skill .ilustrator {
    width: 0%;
    animation: 2s ilustrator forwards;
}

@keyframes ilustrator {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

.skills .skill .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skills .skill .trabajo-equipo {
    width: 0%;
    animation: 2s trabajo-equipo forwards;
}

@keyframes trabajo-equipo {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skills .skill .creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .dedicacion {
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .gestion-proyectos {
    width: 0%;
    animation: 2s gestion-proyectos forwards;
}

@keyframes gestion-proyectos {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.portafolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

.contacto button:hover .overlay {
    width: 100%;
}

@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px;
    }
}

@media screen and (max-width:700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portafolio .galeria {
        display: block;
        width: 100%;
    }

    .portafolio .galeria .proyecto {
        max-width: 100%;
    }

    .portafolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100px;
    }
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--color-rojo);
    color: #fff;
    position: absolute;
    left: 47.9%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-rojo);
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;

}